.application-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.application-info-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.vertical-timeline--one-column-right .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow, .vertical-timeline--one-column-right .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
        top: 16px !important;}