:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  


  --background-color-primary: #203162;
  --text-color-primary: #abd7ff;
}

#root{
  min-height: 100vh;
}